* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bd {
    background-color: #0c1d32;
    width: 1920px;
    padding: 40px;
    
}
.contact-bg {
    display: flex;
    background-image: url(https://vinumart.hr/hr/assets/img/pattern-gray.jpg);
    width: 1750px;
    height: 800px;
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 30px;
}
h4 {
    font-size: 110px;
    line-height: 111px;
    background-color: transparent;
    font:
        normal normal 12px/24px "halyard-display",
        "sans-serif";
    letter-spacing: 2.93px;
    text-transform: uppercase;
    font-weight: 600;
    pointer-events: initial;
    color: #b3a89c;
}
h1 {
    font-size: 70px;
    color: #0c1d32;
    padding-bottom: 30px;
    font-size: 71px;
    line-height: 82px;
    letter-spacing: -1.04px;
    z-index: 1060;
    
}
.navLogo {
    display: flex;
    width: 100px;
    height: auto;
    color: white;
    position: fixed;
    background-color: #0c1d32;
    transition: background-color 0.5s;
    top: 10%;
    left: 1%;
}
.logo{
    background-color: #0c1d32;
}
.navLogo.scrolled {
    /* Background color after scrolling */
    background-color: #0c1d32;
    width: fit-content;
    z-index: 1060;
}
.podaci {
    width: 100%;
    padding: 100px 200px;
}
.pitanje {
    position: relative;
    width: 100%;
    padding: 100px 200px;
}
.podaci > p {
    color: black;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    font:
        normal normal 17px/26px "plantin",
        "sans-serif";
    letter-spacing: 0.53px;
}
.input {
    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    font:
        normal 600 19px/20px "mandrel-condensed",
        "sans-serif";
    letter-spacing: 1.9px;
    color: #676463;
    letter-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0.3em 0;
    background-color: transparent;
    transition:
        border-color 0.3s,
        opacity 0.3s,
        visibility 0.3s;
    border-bottom: #b3a89c solid 2px;
    max-width: 500px;
    margin-bottom: 50px;
}
.p {
    color: black;
    font-style: italic;
    color: #676463;
}
.max {
    font-style: italic;
    display: block;
    text-align: right;
    color: #676463;
    margin-top: -50px;
}

form {
    display: block;
    width: max-content;
}
.submit {
    padding: 20px 80px;
    background-color: #0c1d32;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

