.jacht{
    width: 1920px;
}
.naslovJ{
    grid-column: 5;
    margin-top: 450px;
    width: max-content;
}
.naslov{
    grid-column: 5;
    width: max-content;
}
.bod{
    background-color: white;
}
.tekst{
    display: flex;
    text-align: center;
    width: 90%;
    position: relative;
    font: normal 30px/40px "plantin", "sans-serif";
    line-height: 64.2px;
}
hr{
    max-width: 500px;
    margin-left: 250px;
    margin-top: 100px;
}
.subtitle-sm {
    color: #b3a89c;
    font-size: 15px;
    letter-spacing: 3px;
}
.container{
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: max-content;
    grid-column: 4;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 30px;
}
.header {
    display: grid;
    justify-content: center;
    align-items: center;
}
.bg{
    grid-column: 4;
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: opacity 1.8s ease-in;
    width: max-content;
    top: 26%;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: max-content;
    grid-column: 4;
    
}
