.background {
    width: 1820px;
    height: 1000px;
    display: block;
}
h1 {
    width: max-content;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 100px;
    padding-left: 400px;
    padding-top: 200px;
}

.txt {
    color: black;
    font:
        normal normal 17px/26px "plantin",
        "sans-serif";
    letter-spacing: 0.53px;
    margin-top: 1rem !important;
    line-height: 30px;
}
.podnaslov {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: -0.12px;
    margin-bottom: 1rem !important;
    font-size: 30px;
    margin-top: 1rem !important;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 30px;
}
.subtitle-sm {
    color: #b3a89c;
    font-size: 15px;
}
.naslov {
    width: max-content;
    grid-column: 3;
    margin-top: 450px;
    margin-left: 200px;
}
.uvjeti {
    width: max-content;
    grid-column: 3;
    margin-top: 450px;
    margin-bottom: 450px;
    margin-left: 200px;
}
.naslovJ {
    margin-top: 0px;
    color: rgba(106, 32, 32, 0.652);
    font-size: 60px;
}
.sadrzaj {
    grid-column-start: 4; /* Starting column index */
    grid-column-end: span 6;
}
.op {
    color: #AC795C;
    font:
        normal normal 30px/30px "halyard-display",
        "sans-serif";
}
.imp {
    display: flex;
    padding-left: 200px;
    width: max-content;
}
.pad{
    padding: 100px 0px;
    margin-left: 180px;
}
