* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: #0c1d32;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position: relative;
}
.title {
    font-size: 110px;
    line-height: 111px;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #9e6736;
    grid-column: 6;
}
.tekst {
    color: black;
    display: inline;
}
.section {
    background-color: bisque;
    width: 1800px;
    padding: 70px;
    margin: 50px;
}
.line {
    display: inline-block;
    width: 100px;
}
.line:hover {
    transform: translateZ(0) scaleX(1);
}
